@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homeSection {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url(../utilities/hello.jpg);
  background-size: cover;
  background-position: center;
}

.content {
  max-width: 650px;
  margin: 60px 100px;
}

.content .info h2 {
  color: #f3f3f3;
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 60px;
  margin-bottom: 30px;
}
.content .info h2 span {
  color: #f3f3f3;
  font-size: 40px;
  font-weight: 400;
}

.content .info p {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 40px;
}

.content .info-btn {
  color: #e1e1e1;
  background: #888888;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.3s;
  transition-property: background;
}

.content .info-btn:hover {
  background: #6c6c6c;
}

.media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

@media only screen and (max-width: 850px) {
  .content .info h2 {
    font-size: 45px;
    line-height: 50px;
  }

  .content .info h2 span {
    font-size: 35px;
    font-weight: 600;
  }

  .content .info p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 685px) {
  .content .info h2 span {
    font-size: 30px;
    font-weight: 600;
  }
}

@media only screen and (max-width: 650px) {
  .content .info h2 {
    font-size: 35px;
    line-height: 40px;
  }

  .content .info h2 span {
    font-size: 25px;
    font-weight: 600;
  }

  .content .info p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 573px) {
  .content .info h2 {
    font-size: 30px;
    line-height: 40px;
  }

  .content .info h2 span {
    font-size: 18px;
    font-weight: 600;
  }
}
