.cardDiv {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 100px;
}

.image {
  width: 400px;
  height: 300px;
  object-fit: cover;
  border: 0.124rem solid #f3f3f3;
  border-radius: 2%;
}

.altimage {
  display: none;
}

.projectOne {
  display: flex;
  flex-direction: row;
  width: 60%;
}

.projectContent {
  display: flex;
  flex-direction: column;
}

.projectTitle {
  font-size: 35px;
  word-spacing: 1px;
  text-transform: none;
  line-height: 90px;
  font-weight: 500;
  letter-spacing: -3px;
  color: #f3f3f3;
  margin-left: 10px;
}

.projectDesc {
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 400;
  color: #f3f3f3;
  margin-bottom: 40px;

  word-wrap: break-word;
  margin-left: 15px;
}

.projectStack {
  display: flex;
  justify-content: center;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 300;
  color: #f3f3f3;
  margin-bottom: 40px;
  margin-left: 35px;
}

.projectdividerDiv {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.projectDivider {
  width: 120px;
  border: none;
  height: 1px;
  background-color: #f3f3f3;
}

.projectLinks {
  display: flex;
  justify-content: center;
}

.linkBtn,
.githubBtn {
  margin-left: 20px;
  margin-right: 20px;
}
