a {
  text-decoration: none;
  color: #f3f3f3;
}

.list-contact-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 7rem;
}

.list-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 28px;
  margin-right: 28px;
}

.borderDiv {
  border: 0.183rem solid #f3f3f3;
  border-radius: 50%;
  padding: 30px;
  width: 125px;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  transition-property: background-color;
}

.borderDiv:hover {
  background-color: #59d8ee;
  cursor: pointer;
}

.contactIcon {
  font-size: 45px;
}

.iconLabel {
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 400;
  color: #f3f3f3;
}

.iconLink {
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 300;
  border-bottom: 0.005rem solid #f3f3f3;
  padding-bottom: 0.125rem;
  transition: 0.3s;
  transition-property: color;
  color: #f3f3f3;
}

.iconLink:hover {
  color: #59d8ee;
  cursor: pointer;
}

/*TODO
-> For Tablets: Make Icons in a square with a 5th option at the bottom
-> For Mobile: Make Icons Column
*/

@media only screen and (max-width: 972px) {
  .list-contact-icons {
    display: flex;
    flex-wrap: wrap;
  }

  .list-contact {
    flex: 0 32%;
    margin-bottom: 5%;
  }
}

@media only screen and (max-width: 850px) {
  .borderDiv {
    width: 115px;
    height: 115px;
  }

  .contactIcon {
    font-size: 40px;
  }

  .iconLabel {
    font-size: 14px;
  }

  .iconLink {
    font-size: 13px;
  }

  .list-contact {
    margin-bottom: 7%;
  }
}

@media only screen and (max-width: 650px) {
  .borderDiv {
    width: 100px;
    height: 100px;
  }

  .contactIcon {
    font-size: 35px;
  }

  .iconLabel {
    font-size: 12px;
  }

  .iconLink {
    font-size: 11px;
  }

  .list-contact {
    margin-bottom: 10%;
  }
}
