.contactSubHeading h2 {
  margin-top: 1.5em;
  font-weight: 300;
  text-transform: none;
  letter-spacing: 0;
  line-height: 32px;
  color: #dcdcdc;
}

@media only screen and (max-width: 850px) {
  .contactSubHeading h2 {
    font-size: 22px;
  }
}

@media only screen and (max-width: 650px) {
  .contactSubHeading h2 {
    font-size: 18px;
  }
}

