@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2b2727;
    color: white;
    font-family: 'Exo 2', sans-serif;
    line-height: 3.0;
    text-align: center;
}

img {
    margin-top: 10px;
}

.logo img {
    opacity: 0;
    animation-name: logo;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

@keyframes logo {
    0% {opacity: 0}
    100% {opacity: 1;}
}

.projects h1 {
    font-size: 30px;
    position: relative;
    opacity: 0;
    animation-name: projects;
    animation-duration: 1.75s;
    animation-delay: .3s;
    animation-fill-mode: forwards;
    transition-property: font-size;
    transition-duration: .2s;
}

.projects h1:hover {
    font-size: 60px;

}

@keyframes projects {
    0% {top: -500px; opacity: 0;}
    75% {opacity: 1}
    100% {top: 60px; opacity: 1;}
}

.about h1 {
    font-size: 30px;
    position: relative;
    animation-name: about;
    animation-duration: 1.75s;
    animation-fill-mode: forwards;
    transition-property: font-size;
    transition-duration: .2s;
}

.about h1:hover {
    font-size: 60px;
}

@keyframes about {
    0% {top: -500px}
    100% {top: 60px}
}

