.icons {
    margin-top: 88px;
}

.linkedInBtn {
    position: relative;
    opacity: 0;
    padding: 10px;
    animation-name: linkedin;
    animation-duration: 3s;
    animation-delay: 1.75s;
    animation-fill-mode: forwards;
    transition-property: font-size;
    transition-duration: .2s;
}

.linkedInBtn:hover {
    font-size: 2cm;
}


@keyframes linkedin {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.gitHubBtn {
    position: relative;
    opacity: 0;
    padding: 10px;
    animation-name: github;
    animation-duration: 3s;
    animation-delay: 2.30s;
    animation-fill-mode: forwards;
    transition-property: font-size;
    transition-duration: .2s;
}

.gitHubBtn:hover {
    font-size: 2cm;
}

@keyframes github {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.emailBtn {
    position: relative;
    opacity: 0;
    padding: 10px;
    animation-name: email;
    animation-duration: 3s;
    animation-delay: 2.85s;
    animation-fill-mode: forwards;
    transition-property: font-size;
    transition-duration: .2s;
}

.emailBtn:hover {
    font-size: 2cm;
}

@keyframes email {
    0% {opacity: 0;}
    100% {opacity: 1;}
}