.cardDiv {
    margin: 0;
}

.topRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
    
}

.bottomRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

#passwordCard, #plannerCard, #springboardCard, 
#readmeCard, #burgerCard, #filterCard {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 4px;
  }

  #passwordCard {
    opacity: 0;
    position: relative;
    animation-name: password;
    animation-duration: 4s;
    animation-delay: .6s;
    animation-fill-mode: forwards;
  }

  @keyframes password {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  #plannerCard {
    opacity: 0;
    position: relative;
    animation-name: planner;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes planner {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }


  #springboardCard {
    opacity: 0;
    position: relative;
    animation-name: springboard;
    animation-duration: 4s;
    animation-delay: 1.4s;
    animation-fill-mode: forwards;
  }

  @keyframes springboard {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }


  #readmeCard {
    opacity: 0;
    position: relative;
    animation-name: readme;
    animation-duration: 4s;
    animation-delay: 1.8s;
    animation-fill-mode: forwards;
  }

  @keyframes readme {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }


  #burgerCard {
    opacity: 0;
    position: relative;
    animation-name: burger;
    animation-duration: 4s;
    animation-delay: 2.2s;
    animation-fill-mode: forwards;
  }

  @keyframes burger {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }


  #filterCard {
    opacity: 0;
    position: relative;
    animation-name: filter;
    animation-duration: 4s;
    animation-delay: 2.6s;
    animation-fill-mode: forwards;
  }

  @keyframes filter {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  .image {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-top: 0;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #2b2727;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }

  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

@media (max-width: 768px) {
    .topRow {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bottomRow {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #passwordCard, #plannerCard, #springboardCard, 
    #readmeCard, #burgerCard, #filterCard {
        width: calc(400px - 100px);
    }
}

